<html lang="en">
    
    <!-- having the <head> in separate partial ejs file named 'nav.ejs' -->
    <%- include('./partials/head.ejs') %>

    <body>
    
        <!-- having the <nav> in separate partial ejs file named 'nav.ejs' -->
        <%- include('./partials/nav.ejs') %>

        <div class="not-found content">
            OOPS..!! page not found :)
        </div>
        
    </body>

    <%- include('./partials/footer.ejs') %>

</html>