<html lang="en">
    
    <!-- having the <head> in separate partial ejs file named 'nav.ejs' -->
    <%- include('./partials/head.ejs') %>

    <body>
    
        <!-- having the <nav> in separate partial ejs file named 'nav.ejs' -->
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>so this is how I started learning NodeJS. Ofcourse in this may be trying to develop a new website with the help of net ninja channel.</p>
            <p>so this is how I started learning NodeJS. Ofcourse in this may be trying to develop a new website with the help of net ninja channel.</p>
            <p>so this is how I started learning NodeJS. Ofcourse in this may be trying to develop a new website with the help of net ninja channel.</p>
        </div>
        
    </body>

    <%- include('./partials/footer.ejs') %>

</html>